@mixin dots($count) {
  $text-shadow: ();
  @for $i from 0 through $count {
    $text-shadow: $text-shadow,
    (-.5+(random()) * 6) + em (-.5+(random()) * 4) + em 6px hsla(random() * 360, 100%, 50%, .9);
  }
  text-shadow: $text-shadow;
}

.wrapper {
  background: #123;
  position: relative;
  padding: 250px 24px;
  overflow: hidden;
}

.container {
  background: #123;

  &::after {
    @include dots(40);
    animation-duration: 43s;
    animation-delay: -32s;
  }

  &::before {
    @include dots(40);
    animation-duration: 44s;
    animation-delay: -27s;
  }

  &::after,
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    content: '.';
    mix-blend-mode: screen;
    font: 5vmin/1.3 Serif;
    -webkit-text-fill-color: transparent;
    animation: 56s -27s move infinite ease-in-out alternate;
  }
}

.containerInner {
  &::before {
    @include dots(40);
    animation-duration: 42s;
    animation-delay: -23s;
  }

  &::after {
    @include dots(40);
    animation-duration: 41s;
    animation-delay: -19s;
  }

  &::after,
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    content: '.';
    mix-blend-mode: screen;
    font: 5vmin/1.3 Serif;
    -webkit-text-fill-color: transparent;
    animation: 62s -27s move infinite linear alternate;
  }
}

.title {
  font-size: 60px;
  text-align: center;
  color: var(--app-blue-4);
  margin-bottom: 16px;
  text-transform: capitalize;
  text-shadow: 0 1px 5px rgba(0,0,0,1);
}

.description {
  font-size: 28px;
  font-weight: 300;
  text-align: center;
  color: var(--app-white-2);
  max-width: 1000px;
  line-height: 50px;
  margin: 0 auto;
  text-shadow: 0 1px 5px rgba(0,0,0,1);
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
