.background {
  background-color: var(--app-yellow-2);
}

.sections {
  display: flex;
  position: relative;
  overflow: hidden;
}

.section {
  width: 100vw;
  height: calc(100vh + 200px);
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.beforeSection {
  background: var(--app-white-1);
}

.container {
  padding: 0 16px;
}

.title {
  font-size: 70px;
  text-align: center;
  color: var(--app-gray-1);
  margin-bottom: 16px;
  text-transform: capitalize;
  height: 90px;
}

.description {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  color: var(--app-gray-1);
  max-width: 1000px;
  margin: 0 auto;
  height: 210px
}

.afterSection {
  background: var(--app-gray-1);

  .container {
    padding: 200px 16px;
  }

  .title {
    color: var(--app-white-2);
  }

  .description {
    color: var(--app-white-2);
  }
}