.sections {
  padding: 24px 0;
  overflow: hidden;
  position: relative;
  background-color: var(--app-gray-1);
}

.sectionTitle {
  font-size: 60px;
  text-align: left;
  color: var(--app-white-2);
  display: inline-block;
  margin: 0 80px 32px;
  background-image: linear-gradient(to bottom, transparent 50%, var(--app-green-3));
}

.sectionSubTitle {
  width: 80%;
  font-size: 24px;
  padding: 0 80px;
  text-align: left;
  color: var(--app-white-2);
  margin-bottom: 90px;
}

.section {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  gap: 24px;
  padding: 40px 0;
}

.row {
  --card-color-wirdth: 5px;

  width: 100%;
  z-index: 1;
  position: relative;
  margin-bottom: 40px;
  animation: float 6s ease-in-out infinite;

  &:first-child {
    margin-left: 80px;
    padding: var(--card-color-wirdth) 0 var(--card-color-wirdth) var(--card-color-wirdth);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-image: linear-gradient(to right, var(--app-green-3), var(--app-gray-1));

    .rowInner {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }

  &:last-child {
    margin-right: 80px;
    padding: var(--card-color-wirdth) var(--card-color-wirdth) var(--card-color-wirdth) 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-image: linear-gradient(to right, var(--app-gray-1), var(--app-green-3));
    animation-delay: -1.5s;
    margin-bottom: 0;

    .rowInner {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}

.rowInner {
  width: 100%;
  height: 100%;
  padding: 80px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: var(--app-gray-1);
  z-index: 1;
}

.item {
  flex-basis: 33.3333%;
  border-right: 1px solid var(--app-white-2);

  &:last-child {
    border-right: none
  }
}

.number {
  font-size: 60px;
  text-align: center;
  font-weight: 900;
  margin-bottom: 24px;
  color: var(--app-white-2);
}

.title {
  font-size: 32px;
  text-align: center;
  font-weight: 500;
  color: var(--app-white-2);
  margin-bottom: 16px;
  text-transform: capitalize;
}

.description {
  width: 90%;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: var(--app-white-2);
  max-width: 1000px;
  margin: 0 auto;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@media screen and (max-width: 1024px) {
  .sectionTitle {
    font-size: 60px;
  }

  .sectionSubTitle {
    width: 100%;
  }

  .rowInner {
    gap: 24px;
    align-items: flex-start;
    flex-direction: column;
  }

  .item {
    width: 100%;
    display: flex;
    border-right: none;
    align-items: center;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--app-white-2);

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  .number {
    margin-bottom: 0;
  }

  .title {
    text-align: left;
    margin-left: 24px;
  }

  .description {
    text-align: left;
    margin-left: 24px;
  }
}

@media screen and (max-width: 768px) {
  .sectionTitle {
    font-size: 40px;
    padding: 0 24px;
  }

  .sectionSubTitle {
    padding: 0 24px;
  }

  .row {
    &:first-child {
      margin-left: 24px;
    }

    &:last-child {
      margin-right: 24px;
    }
  }

  .rowInner {
    padding: 40px;
  }

  .number {
    font-size: 40px;
  }
}

@media screen and (max-width: 425px) {
  .number {
    font-size: 30px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 8px;
  }
}