.section {
  position: relative;
  padding: 100px 40px;
  background-color: var(--app-white-2);

  .terminal {
    width: 80%;
    display: block;
    margin: 0 auto;
    height: 500px;

    .fakeButtons {
      height: 14px;
      width: 14px;
      border-radius: 50%;
      position: relative;
      top: 6px;
      left: 6px;
      background-color: #ff3b47;
      display: inline-block;
    }

    .fakeMinimize {
      left: 11px;
      background-color: #ffc100;
    }

    .fakeZoom {
      left: 16px;
      background-color: #00d742;
    }

    .fakeMenu {
      width: 100%;
      box-sizing: border-box;
      height: 25px;
      background-color: #bbb;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }

    .fakeScreen {
      width: 100%;
      overflow: auto;
      height: calc(100% - 25px);
      background-color: #151515;
      box-sizing: border-box;
      padding: 20px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    .line {
      display: flex;
      text-align: left;
      position: relative;
      font-size: 2em;
      font-family: monospace;
      white-space: normal;
      color: #9CD9F0;

      span {
        flex-shrink: 0;
        font-size: 1em;
        font-family: monospace;
        white-space: normal;
        color: var(--app-white-2);
      }
    }

    .interactiveRow {
      flex-grow: 1;
      flex-shrink: 0;
      margin-left: 12px;
      align-items: center;
      display: inline-flex;

      .input {
        width: 100%;
        outline: none;
        border: none;
        display: flex;
        color: var(--app-white-2);
        position: relative;
        font-family: monospace;
        caret-color: transparent;
        background-color: transparent;


        &::after {
          content: "";
          display: inline-block;
          background-color: var(--app-white-2);
          vertical-align: top;
          width: 15px;
          height: 30px;
          animation: blink 1s step-end infinite;
        }
      }
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 1200px) {
  .section {
    .terminal {
      width: 100%;

      .line {
        font-size: 1.2em;
      }

      .interactiveRow {
        .input {
          &::after {
            width: 9px;
            height: 18.5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding: 0px;

    .terminal {
      width: 100%;
      height: 380px;
      border-radius: 0;

      .fakeMenu,
      .fakeScreen {
        border-radius: 0;
      }

      .line {
        font-size: 1em;

        .bigText {
          font-size: 8px;
        }
      }

      .interactiveRow {
        .input {
          &::after {
            width: 8px;
            height: 15px;
          }
        }
      }
    }
  }
}