.heroWrapper {
  width: 100vw;
  height: 80vh;
  padding: 16px;
  position: relative;
  background-color: var(--app-yellow-2);
}

.actions {
  gap: 16px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  transform: translateY(-100px);
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .actions {
    flex-direction: column;
    transform: translateY(-160px);
  }
}