.footer {
  background-color: var(--app-gray-1);
  border-top: 1px solid var(--app-yellow-2);

  .container {
    display: flex;
    justify-content: space-between;

    .left,
    .right {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 250px;
      }
    }

    .left {
      img {
        transform: rotate(-90deg);
      }
    }

    .right {
      img {
        transform: rotate(90deg);
      }
    }

    .main {
      gap: 24px;
      padding: 40px;
      display: flex;

      .category {
        gap: 16px;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;

        .categoryTitle {
          font-size: 24px;
          font-weight: 400;
          display: inline-block;
          color: var(--app-white-1);
          border-bottom: 1px solid rgba(147, 147, 148, 0.5);
          padding-bottom: 16px;
        }

        .categoryItems {
          gap: 16px;
          display: flex;
          flex-direction: column;

        }

        .categoryItem {
          font-size: 14px;
          font-weight: 400;
          color: var(--app-gray-3);

          a {
            color: var(--app-gray-3);
            text-decoration: none;
          }
        }
      }
    }

    .column {
      gap: 24px;
      display: flex;
      flex-direction: column;
    }


  }
}

@media screen and (max-width: 1200px) {
  .footer {
    .container {
      .left,
      .right {
        img {
          width: 100px;
          height: 80px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    .container {
      padding: 48px;
      flex-wrap: wrap;
      justify-content: space-between;

      .left {
        order: 1;

        img {
          width: auto;
          transform: rotate(0deg);
        }
      }

      .right {
        order: 1;

        img {
          width: auto;
          transform: rotate(0deg);
        }
      }

      .main {
        order: 3;
        padding: 0;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 24px;
      }

      .column {
        width: calc(50% - 12px);

        &:nth-child(2n) {
          .category {
            align-items: flex-end;

            .categoryItem {
              text-align: right;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    .container {
      padding: 24px;
      justify-content: flex-start;

      .left, .right {
        width: auto;
        height: 55px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .left {
        margin-right: 8px;
      }

      .column {
        width: 100%;

        &:nth-child(2n) {
          .category {
            align-items: flex-start;

            .categoryItem {
              text-align: left;
            }
          }
        }

        .category {
          .categoryItems {
            gap: 12px;
            flex-wrap: wrap;
            flex-direction: row;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .footer {
    .container {
      .left, .right {
        height: 40px;
      }
    }
  }
}