@mixin dots($count) {
  $text-shadow: ();
  @for $i from 0 through $count {
    $text-shadow: $text-shadow,
    (-.5+(random()) * 6) + em (-.5+(random()) * 4) + em 6px hsla(random() * 360, 100%, 50%, .9);
  }
  text-shadow: $text-shadow;
}

.wrapper {
  background: #123;
  position: relative;
  overflow: hidden;
}

.container {
  background: #123;

  &::after {
    @include dots(40);
    animation-duration: 43s;
    animation-delay: -32s;
  }

  &::before {
    @include dots(40);
    animation-duration: 44s;
    animation-delay: -27s;
  }

  &::after,
  &::before {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    content: '.';
    mix-blend-mode: screen;
    font: 5vmin/1.3 Serif;
    -webkit-text-fill-color: transparent;
    animation: 56s -27s move infinite ease-in-out alternate;
  }
}

.containerInner {
  &::before {
    @include dots(40);
    animation-duration: 42s;
    animation-delay: -23s;
  }

  &::after {
    @include dots(40);
    animation-duration: 41s;
    animation-delay: -19s;
  }

  &::after,
  &::before {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    content: '.';
    mix-blend-mode: screen;
    font: 5vmin/1.3 Serif;
    -webkit-text-fill-color: transparent;
    animation: 62s -27s move infinite linear alternate;
  }
}

.main {
  padding: 100px 40px;

  .title {
    font-size: 60px;
    text-align: left;
    margin-bottom: 16px;
    color: var(--app-white-1);
    display: inline-block;
    background-image: linear-gradient(to bottom, transparent 50%, var(--app-yellow-2));
  }

  .description {
    font-size: 28px;
    font-weight: 300;
    text-align: left;
    color: var(--app-white-2);
    max-width: 1000px;
    line-height: 50px;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 1);
  }

  .canvas {
    display: block;
    position: relative;
    z-index: 1;
  }

  position: relative;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}