.sectionWrapper {
  position: relative;
  padding: 100px 60px;
  background-color: var(--app-black-2);

  .sectionTitle {
    font-size: 60px;
    text-align: left;
    display: inline-block;
    color: var(--app-white-1);
    background-image: linear-gradient(to bottom, transparent 50%, var(--app-yellow-2));
    margin-bottom: 48px;

  }

  .section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .left {
      top: 80px;
      position: sticky;
      margin-right: 160px;

      .leftTitle {
        width: 100%;
        line-height: 1;
        font-weight: 500;
        font-size: 7.25vw;
        letter-spacing: -0.075vw;
        color: rgba(231, 233, 234, 0.2);
        margin-bottom: 24px;
      }
    }

    .right {
      display: flex;
      flex-direction: column;

      .services {
        .service {
          padding: 4rem 0;
          border-bottom: 1px solid var(--app-black-3);

          .serviceTitle {
            font-size: 40px;
            font-weight: 500;
            margin-bottom: 1rem;
            color: var(--app-white-1);
          }

          .serviceDescription {
            color: var(--app-gray-3);
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 2.5rem;
          }

          .serviceButton {
            color: var(--app-white-1);
            font-size: 20px;
            font-weight: 300;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .sectionWrapper {
    padding: 100px 24px;

    .sectionTitle {
      font-size: 60px;
    }

    .section {
      .left {
        margin-right: 60px;

        .leftTitle {
          font-size: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .sectionWrapper {
    .sectionTitle {
      font-size: 32px;
    }

    .section {
      .left {
        display: none;
        margin-right: 60px;

        .leftTitle {
          font-size: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .sectionWrapper {
    padding: 40px 24px;

    .sectionTitle {
      font-size: 32px;
    }

    .section {
      .right {
        .services {
          .service {
            padding: 24px 0;

            .serviceTitle {
              font-size: 24px;
            }

            .serviceDescription {
              font-size: 18px;
              margin-bottom: 16px;
            }
          }
        }
      }
    }
  }
}