@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');
@import "fonts";

:root {
  --app-red-1: #ec0f46;
  --app-red-2: #fc1410;
  --app-red-3: #8e1400;
  --app-purple-1: #808cff;
  --app-purple-2: #6300b4;
  --app-purple-3: #de39ff;
  --app-blue-1: #1a1a3e;
  --app-blue-2: #0A1B26;
  --app-blue-3: #191F26;
  --app-gray-1: #1b1b1b;
  --app-white-1: #ffffff;
  --app-black-1: #000000;
}

// Reset
*, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, var(--app-gray-1), var(--app-purple-2));
}

// Reset