.menu {
  top: 66px;
  left: 0;
  z-index: 11;
  width: 320px;
  height: 100vh;
  position: fixed;
  transform: translateX(-100%);
  transition: 0.3s transform ease;

  &.shown {
    transform: translateX(0%);
  }

  .list {
    display: flex;
    flex-direction: column;

    .listItem {
      padding: 8px 16px;
      cursor: pointer;
      background-color: transparent;

      .title {
        font-size: 32px;
        letter-spacing: 2px;
        font-weight: 700;
        color: var(--app-black-1);
        transition: 0.2s color ease, 0.2s text-shadow ease;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0);
      }

      &:hover {
        .title {
          color: var(--app-yellow-2);
          text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}