.menu {
  top: 0;
  left: 0;
  z-index: 11;
  width: 320px;
  height: 100vh;
  position: fixed;
  transform: translateX(-100%);
  transition: 0.3s transform ease;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(3px);

  &.shown {
    transform: translateX(0%);
  }

  .header {
    display: flex;
    padding: 16px;
    justify-content: flex-end;

    .close {
      cursor: pointer;
    }
  }

  .list {
    display: flex;
    flex-direction: column;

    .listItem {
      padding: 8px 16px;
      cursor: pointer;
      background-color: transparent;
      transition: 0.2s background-color ease;

      .title {
        font-size: 20px;
        color: var(--app-gray-1);
        transition: 0.2s color ease;
      }

      &:hover {
        background-color: var(--app-gray-1);

        .title {
          color: var(--app-white-2);
        }
      }
    }
  }
}